#tasklist {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.taskinfo {
    background: #f5f5f533;
    cursor: pointer;
    height: 50px;
}
.taskinfo:hover{
    background: #ebebeb;
    transition: 0.5s;
}
.prompt{
    text-align: center;
    padding: 1rem
}
.description{
    padding-top:5px;
}
.path{
    color: #888888;
    font-size: small;
}
#infopannel{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem;
    color: white;
    display: none;
}
img{
    float: left;
    margin: 10px;
    height: 30px;
}