#tasklist {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.taskinfo {
    background: #f5f5f533;
    cursor: pointer;
    height: 50px;
}

.select{
    background: #ebebeb;
}

.description {
    padding-top: 5px;
}

.path {
    color: #888888;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.user {
  float: right;
  margin: 15px 10px;
  height: 20px;
  color: #666666
}

.usage {
font-size: small;
    float: left;
    color: #607D8B;
    margin-right: 5px;
}

#infopannel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem;
    color: white;
    display: none;
}

img {
    float: left;
    margin: 10px;
    height: 30px;
}

.load {
  margin-top: 10px;
  text-align: center;
  font-size: large;
  color: #666666;
}